django
psycopg2-binary
ipython
pillow
djangorestframework
django-filter
python-dotenv
djangorestframework-simplejwt
coverage
django-cors-headers
requests
stripe
django-celery-beat
celery
eventlet
redis
drf-yasg
dockerfile